[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
uwsgi = "*"
pysocks = "*"
psycopg = "*"
psycopg2-binary = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "2.7"
